/*COLORS & FONT
  font-family: 'Berkshire Swash', cursive; (titre)
  font-family: 'Oldenburg', cursive;
  font-family: 'Playball', cursive; (secondary tittres)
  #AC841C (color font nav)
  #F4F682 (color line)
  #E1BF65 (color footer gradient)
  #C8AE6B (color box sign in)
  #EDD9A3 (color button)
  #E1BF65 (color border button)
  #F4F682 (color button search)
*/

/*NavBar*/
.navbar-nav .nav-link {
    font-family: 'Oldenburg', cursive;
    color: #AC841C;
}
.dropdown-item{
  font-family: 'Oldenburg', cursive;
    color: #AC841C;
}
/*Footer*/
.page-footer {
  font-family: 'Oldenburg', cursive;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E1BF65, #fffc59);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E1BF65, #ffee59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: x-small;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-block-end: 0%;
}

/*Index*/
.img-index{
  position: relative;
  width: 100%;
  height: 350px;
  left: 0px;
}

.titre-ppal{
  font-family: 'Berkshire Swash', cursive;
  position: absolute;
  top: 35%;
  left: 40%;
  color: whitesmoke;
  font-size: 500%;
}
.icon{
  color: #AC841C;
}
.small_titre{
  color: black;
  font-family: 'Playball', cursive;
  font-size: 20px;

}
/*Hotel page*/
.img-hotel{
  position: relative;
  width: 100%;
  height: 300px;
  left: 0px;
}
.search{
  font-family: 'Oldenburg', cursive;
  background-color: #E1BF65;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 2%;
  
  
}
.title2{
  font-family: 'Berkshire Swash', cursive;
  margin-left: 20%;
  font-size: 30px;
}
#search_hotel{
  background-color: #F4F682;
  border-color: #E1BF65;
  border-radius: 12%;
}

/*Sign in*/
body.signin{
  background-image: url(img/transp.png);
  background-repeat: inherit;
}

.box{
  background-color: #C8AE6B;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  padding: 6%;
  border-radius: 2%;
  font-family: 'Oldenburg', cursive;
}
h3{
  font-family: 'Playball', cursive;
  font-size: 35px;
}
.account{
  font-size: small;
}
/*Registration*/

.box-regis{
  background-color: #C8AE6B;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  padding: 6%;
  border-radius: 2%;
  font-family: 'Oldenburg', cursive;
}
/*Button send*/

#forgotPasswordClickEvt, #resetPasswordClickEvt{
  border-radius: 10%;
}