<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Footer -->
    <footer class="page-footer font-small pt-1 mb-0 mt-5">
        <div class="container-fluid text-center text-md-center">
            <div class="row">
                <div class="col-md-4  mt-md-0 mt-3">

                    <h5 class="titre-foot">Click&Trip</h5>
                    <p>Click and travel wherever you want, with our all trip option,</br> you can organize your entire trip.</p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-4">

                <div class="col-md-4 mb-md-0 mb-3">

                    <h5 class="titre-foot">Contact us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>click&trip@gmail.com</br>
                        
                            0497781324</br>
                        
                            Avenue du train, 76</br>
                        
                            Brussels, 1000</p>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="titre-foot">Follow us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="fb-ic" style="color: #AC841C" href="http://facebook.com"><i class="fab fa-facebook-f fa-3x white-text mr-4"> </i></a>
                            <a class="tw-ic" style="color: #AC841C" href="http://twitter.com"><i class="fab fa-twitter fa-3x white-text mr-4"> </i></a>
                            <a class="ins-ic" style="color: #AC841C" href="http://instagram.com"><i class="fab fa-instagram fa-3x white-text mr-4"> </i></a>
                        </li>
                    </ul>

                </div>
            
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> clip&trip.com</a>
        </div>
    </footer>

</html>