<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/header.ejs'); -%>
    <title>Forget Password</title>
</head>
<body class="signin">
    <div class="container">
            <div class="row">
              <div class="col-md">
              </div>
              <div class="col-md col-sm-12 col-xs-12 box">
          
          <div id="main">
                <h3>Forgot Password</h3>
                <form method="POST" class= "align-items-center d-flex flex-column">
					<label for="email"></label>
					<input type="email" name="email" id="email" required></br>
					<input type="submit" name="submit" id="forgotPasswordClickEvt" value="Send">

                </form>
            </div>
			<script type="text/javascript">
				var forgotPasswordClickEvt = document.getElementById('forgotPasswordClickEvt');
				forgotPasswordClickEvt.addEventListener('click', forgotPasswordClicked);
				function forgotPasswordClicked(event) {
					event.preventDefault();
					var data = "email=" + document.getElementById('email').value;
					ajaxCall(data, "http://localhost:3000/user/forgetpassword", function(status, response) {
						if (status == 200) {
							alert('successfully sent');
						} else {
							console.log(status);
							alert('Error', status);
						}
					});
				}
				function ajaxCall(data, url, callback) {
					var xhttp = new XMLHttpRequest();
					xhttp.open("POST", url, true);
					xhttp.onreadystatechange = function() {
						if (this.readyState == 4) {
							return callback(this.status, JSON.parse(xhttp.response));
						}
					}
					xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xhttp.send(data);
				}
			</script>    
                   
                
            </div>
              </div>
              <div class="col-md">
                  
              </div>
            </div>
        
		  </div>
</body>

</html>