<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/header.ejs'); -%>
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar- bg-white">
        <a href="/"><img src="/css/img/logo.png" width="20%"><a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/signIn"><i class="fas fa-user fa-2x white-text mr-4"> </i></a>
                </li>
    
            </ul>
        </div>
    </nav>
    <body class="signin">
    <div class="container">
            <div class="row">
              <div class="col-md">
              </div>
              <div class="col-md col-sm-12 col-xs-12 box">
          
          <div id="main">
                <h3>Sign in</h3>
                <form action="/user/forgetpassword" method="POST">
                        
                        <input class="input" type="mail" placeholder="Enter your mail" name="forgetpassword"><br></br>
                        
                    
                        <input id="send_mail" type="submit" name="submit" value="Send mail!">
                    </form>
                <p>Not an account yet ? <a href="/user/registration">Sign up</a> </p>
            </div>
              </div>
              <div class="col-md">
              </div>
            </div>
        
          </div>
           
 <!--Include Footer-->
 <%- include ('partials/footer.ejs'); -%>
</html>