<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/header.ejs'); -%>

    <title>Document</title>
</head>

<body>
    <!--Include NavBar-->
    <%- include ('partials/navigation.ejs'); -%>
<div class="main">
    <img class="img-index" src="img/index.jpg">
    <div class="title">
    <h1 class="titre-ppal">Click&Trip</h1>
    <hr/>
    </div>
</div>
</section>






    
</body>

    <!--Include Footer-->
    <%- include ('partials/footer.ejs'); -%>

</html>