<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/header.ejs'); -%>

    <title>Document</title>
</head>
<body>
        <%- include ('partials/navigation.ejs'); -%>
        <div class="main">
                <h1 class= "title2 d-flex justify-align-center">My profile</h1>
            </div>
            <p class="title2"></p>
            <div class="search d-flex d-column justify-content-center mt-4 mb-5">
                   
                <div class="part1 d-row mr-5 pt-1 pb-3">
                        
                    <div class="name">
                        <p>
                            Username:<br><br>
                    
                    </div>
                    <div class="usermail">
                            <div class="checkin">
                            Mail:<br><br>
                    </div>
                    </div>
                </div>
            </div>
</body>

<!--Include Footer-->
<%- include ('partials/footer.ejs'); -%>


</html>