<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/header.ejs'); -%>
    <title>Reset Password</title>
</head>
<body class="signin">
    <div class="container">
            <div class="row">
              <div class="col-md">
              </div>
              <div class="col-md col-sm-12 col-xs-12 box">
          
          <div id="main">
                <h3>Reset Password</h3>
                <form method="POST" class= "align-items-center d-flex flex-column">                        
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" required>
                    <label for="verifyPassword">Confirm Password</label>
                    <input type="password" name="verifyPassword" id="verifyPassword" required></br>
                    <input type="submit" name="submit" id="resetPasswordClickEvt" value="Reset Password">
                    </form>
                   
                  
            </div>
        </div>
        <div class="col-md">
            
        </div>
      </div>
  
    </div>
</body>

</html>
